
body {
    text-align: center;
    background: url("../Img/Crossword/background.jpg");
    overflow: hidden;
    color: white;
}

#container{
    font-size: 3em;
    height: auto;
    font-family: 'Righteous', cursive;
}

#container h1{
    margin: 2%;
}

.gamebtn{
    font-size: 1em;
    width: 20%;
    align-self: left;
    justify-self: left;
    cursor: pointer;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 65px;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.gamebtn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}
.gamebtn:active {
    outline: 0;
}

.gamebtn:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.gamebtn:nth-of-type(odd){
    align-self: right;
    justify-self: right;
}



@keyframes grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 8em;
    }
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    font-family: 'Righteous', cursive;
}

#victory-txt{
    z-index: 105;
}

#main_overlay{
    background: url(../Img/Crossword/background.jpg);
}

#operation{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: rgba(177, 90, 90, 0.151);
    width: auto;
    max-width: 25%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}


#startGameInfo{
    height: 70%;
    color: black;
}

.overlay-text.visible {
    display: flex;
    color: White;
}

.overlay-text.visible:nth-of-type(3) {
    animation: grow 500ms forwards;
    flex-direction: column;
}

.overlay-text.visible:nth-of-type(4) {
    animation: grow 500ms forwards;
    flex-direction: column;
}

#gridBtn{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 80%;
}

#btngames{
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    min-height: 15%;
    height: auto;
    max-height: 30%;
}

.btnHard{
    display: none;
}

#footer{
    bottom: 0;
    margin-top: 7.2%;
}

#scoreDiv, #timeDiv{
    font-size: 0.8em;
}

#score, #time{
    font-size: 1.2em;
}



#head {
    z-index: 102!important;
}
.side-menu {
    z-index: 101!important;
}
.register-popup {
    z-index: 101!important;
}
.login-popup {
    z-index: 101!important;
}
.bt-menu.open {
    z-index: 101!important;
}
#footer{
    z-index: 101!important;
    margin-top: 5%;
}

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}

@media only screen and (max-height: 790px){
    h1{
        font-size: 1em;
    }
    #scoreDiv{
        font-size: 0.8em;
    }
    #timeDiv{
        font-size: 0.8em;
    }
    #container{
        font-size: 2em;
    }
    @keyframes grow {
        from {
            background-color: rgba(0,0,0,0);
            font-size: 0;
        }
        to {
            background-color: rgba(0,0,0,.8);
            font-size: 5em;
        }
    }
}
